* {
    margin: 0;
    padding: 0;
}

    body {
    box-sizing: border-box;
}

#drinks-menu-button {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#desserts-menu-button {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

@media screen and (max-width: 600px) {
    #welcome-page {
        background-color: rgb(252, 252, 252);
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }