:root {
    --darker-gray-color: rgb(102, 102, 102);
    --lighter-gray-color: rgb(179, 179, 179);
    --confirm-btn-color: rgb(36, 224, 133);
    --confirm-btn-active-color: rgb(61, 255, 161);
}

html, body {
    height: 98%;
    box-sizing: border-box;
    color: var(--darker-gray-color);
}

body {
    margin: 1rem;
    font-family: sans-serif;
}

form {
    width: 100%;
    height: 100%;
}

h2 {
    margin: 0;
    margin-left: 20px;
}

button {
    cursor: pointer;
    outline: none;
}

#main-wrapper {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(7, 1fr);
}

#name-header {
    margin: 0;
    font-size: 60px;
    align-self: end;
    grid-row: 1 / 4;
}

#chosen-employee-card {
    align-content: end;
    display: grid;
    margin-bottom: 0;
    grid-template-columns: 290px 1fr;
}

#chosen-employee-card img {
    margin-bottom: 10px;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 4px solid var(--darker-gray-color);
    align-self: end;
}

#chosen-employee-card h2 {
    align-self: end;
}

#employee-view {
    display: grid;
    border-top: 5px solid var(--darker-gray-color);
    border-bottom: 5px solid var(--darker-gray-color);
    grid-template-columns: 1fr 12fr 1fr;
    grid-row: 4 / 6;
}

#employee-container {
    display: grid;
    margin-left: 0px;
    overflow-x: auto;
    grid-auto-columns: repeat(auto-fill);
    grid-auto-flow: column;
    grid-gap: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#employee-container::-webkit-scrollbar {
    display: none;
}

.scroll-button {
    align-self: center;
    border-style: solid;
    background-color: white;
    margin-bottom: 10px;
}

#left-scroll-button {
    justify-self: end;
    margin-right: 20%;
    border-width: 50px 80px 50px 0;
    border-color: transparent gray transparent transparent;
}

#right-scroll-button {
    justify-self: center;
    margin-left: 20%;
    border-width: 50px 0 50px 80px;
    border-color: transparent transparent transparent gray;
}

#left-scroll-button:active {
    border-color: transparent darkgray transparent transparent;
}

#right-scroll-button:active {
    border-color: transparent transparent transparent darkgray;
}

.employee-slot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: white;
    align-self: center;
}

.employee-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.employee-button img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#start-button-container {
    grid-row: 6 / 8;
}

#start-button {
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: var(--confirm-btn-color);
    color: white;
    font-size: 80px;
    font-weight: bold;
    outline: none;
}

#start-button:active {
    background-color: var(--confirm-btn-active-color);
}