:root {
    --darker-gray-color: rgb(102, 102, 102);
    --lighter-gray-color: rgb(179, 179, 179);
    --confirm-btn-color: rgb(36, 224, 133);
    --confirm-btn-active-color: rgb(61, 255, 161);
    --drinks-menu-color: rgb(171, 162, 138);
    --desserts-menu-color: rgb(224, 177, 216);
}

html, body {
    height: 98%;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: sans-serif;
}

button {
    border: 0px;
    cursor: pointer;
    color: white;
}

#main-wrapper {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;

    /* THIS element's grid structure */
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#user-account-header {
    display: grid;
    border-bottom: 1px solid var(--darker-gray-color);

    /* THIS element's placement in parent grid */
    grid-column: 1 / 10;
    grid-row: 1;
}

#active-user-account-display {
    display: grid;
    margin-bottom: 5px;
    grid-template-columns: 50px 1fr;
    align-items: end
}

#active-user-account-display img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#active-user-account-display h2{
    color: var(--darker-gray-color);
    margin-bottom: 5px;
    margin-left: 10px;
    align-self: end;
}

#main-navigation-section {
    display: grid;
    grid-gap: 1rem;

    /* THIS element's grid structure */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);

    /* THIS element's placement in parent grid */
    grid-column: 1 / 3;
    grid-row: 2 / 11;
}

#drinks-menu-button {
    background-color: var(--drinks-menu-color);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#desserts-menu-button {
    background-color: var(--desserts-menu-color);
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.orders-button {
    background-color: var(--lighter-gray-color);
}

#menu-section {
    display: grid;
    grid-gap: 1rem;

    /* THIS element's grid structure */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    /* THIS element's placement in parent grid */
    grid-column: 3 / 8;
    grid-row: 2 / 11;
}

#popular-items-menu-container {
    display: grid;
    border: 1px solid var(--lighter-gray-color);
    overflow: scroll;

    /* THIS element's grid structure */
    grid-template-rows: 40px 1fr;

    /* THIS element's placement in parent grid */
    grid-column: 1 / 6;
    grid-row: 1 / 3;
}

#popular-items-menu-header {
    display: grid;
    padding: 10px;
    grid-template-columns: 40px 1fr;
    font-size: 20px;
    align-items: center;
}

#popular-items-menu-header h3 {
    font-weight: lighter;
    margin: 0px;
    color: white;
}

#popular-items-menu {
    display: grid;
    justify-items: center;
    padding: 20px;
    /* THIS element's grid structure */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;

    /* THIS element's placement in parent grid */
    grid-row: 2 / 3;
}

#main-menu-container {
    display: grid;
    border: 1px solid var(--lighter-gray-color);
    overflow: scroll;

    /* THIS element's placement in parent grid */
    grid-column: 1 / 6;
    grid-row: 3 / 6;
}

#main-menu {
    display: grid;
    overflow: scroll;
    justify-items: center;
    padding: 20px;
    row-gap: 14px;

    /* THIS element's grid structure */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#payment-section {
    display: grid;

    /* THIS element's grid structure */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

    /* THIS element's placement in parent grid */
    grid-column: 8 / 10;
    grid-row: 2 / 11;
}

#order-section {
    display: grid;
    border: 1px solid var(--lighter-gray-color);
    overflow: scroll;

    /* THIS element's grid structure */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);

    /* THIS element's placement in parent grid */
    grid-row: 1 / 5;
}

.item-card {
    position: relative;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    height: 10em;
    width: 7em;
    color: white;
}

.drink-item-card {
    background-color: var(--drinks-menu-color);
}

.dessert-item-card {
    background-color: var(--desserts-menu-color);
}