:root {
    --standard-gray-color: #969696;
    --darker-gray-color: #666666;
    --lighter-gray-color: rgb(179, 179, 179);
    --confirm-btn-color: rgb(36, 224, 133);
    --confirm-btn-active-color: rgb(61, 255, 161);
    --drinks-menu-color:   #4569fc;
    --desserts-menu-color:#ff9900;
}

html, body {
    height: 98%;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 1rem;
    font-family: sans-serif;
}

button {
    border: 0px;
    cursor: pointer;
    color: white;
}

ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ul::-webkit-scrollbar {
    display: none;
}

#main-wrapper {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#user-account-header {
    display: grid;
    border-bottom: 1px solid var(--darker-gray-color);
    grid-column: 1 / 10;
    grid-row: 1;
}

#active-user-account-display {
    display: grid;
    margin-bottom: 5px;
    grid-template-columns: 50px 1fr;
    align-items: end
}

#active-user-account-display img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#active-user-account-display h2 {
    color: var(--darker-gray-color);
    margin-bottom: 5px;
    margin-left: 10px;
    align-self: end;
}

#main-navigation-section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 1 / 3;
    grid-row: 2 / 11;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: none; 
    box-shadow: inset 0 0 6px #a5a5a54d;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;      
    border: 3px solid #ffffff;  
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.menu-button {
    font-size: 25px;
    outline: none;
}

.menu-button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 50px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 50px #c1c1c1;
    box-shadow: inset 0px 0px 50px #c1c1c1;
}

#drinks-menu-button {
    background-color: #4569fc;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#drinks-menu-button h4 {
    margin-top: 10px;
}

#desserts-menu-button {
    background-color: #ff9900;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

#desserts-menu-button h4 {
    margin-top: 20px;
}

.orders-button {
    background-color: var(--lighter-gray-color);
    outline: none;
}

.orders-button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
    box-shadow: inset 0px 0px 10px #c1c1c1;
}

#mobile-orders-button h4 {
    margin-top: 5px;
}

#order-history-button h4 {
    margin-top: 15px;
}

#menu-section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 3 / 8;
    grid-row: 2 / 11;
}

#popular-items-menu-container {
    display: grid;
    border: 1px solid var(--lighter-gray-color);
    overflow: hidden;
    grid-template-rows: 40px 1fr;
    grid-column: 1 / 9;
    grid-row: 1 / 3;
}

#popular-items-menu-header {
    display: grid;
    padding: 12px;
    padding-left: 25px;
    grid-template-columns: 40px 1fr;
    font-size: 20px;
    align-items: center;
}

#popular-items-menu-header h3 {
    font-weight: lighter;
    margin: 0px;
    color: white;
}

#popular-items-menu {
    display: grid;
    justify-items: center;
    padding: 20px;
    overflow: hidden;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-row: 2 / 3;
}

#main-menu-container {
    display: grid;
    border: 1px solid var(--lighter-gray-color);
    overflow: hidden;
    grid-column: 1 / 9;
    grid-row: 3 / 6;
}

#main-menu {
    display: grid;
    overflow: scroll;
    justify-items: center;
    padding: 20px;
    row-gap: 14px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow-x: hidden;
    overflow-y: auto;
}

#payment-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid var(--lighter-gray-color);
    grid-gap: 1rem;
    grid-column: 8 / 10;
    grid-row: 2 / 11;
}

#order-section-header {
    display: grid;
    padding: 12px 0px 0px 0px;
    padding-left: 25px;
    grid-template-columns: 50px 1fr;
    font-size: 20px;
    align-items: center;
}

#order-section-header h3 {
    font-weight: lighter;
    margin: 0px;
    color: white;
}

#order-section {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 50px 1fr 121px;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    color: white;
    overflow: hidden;
}

#order-section-list {
    display: grid;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px;
    grid-gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(min-content, 50px));
}

#order-section-total-price-container {
    padding-top: 1em;
    padding-left: 1em;
    font-size: 20px;
    margin: 0;
}

#order-section-total-price-container h3{
    margin: 0;
}

#order-section-total-price-container p{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 45px;
    margin: 0;
}

.item-card {
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    height: 10em;
    width: 7em;
    color: var(--darker-gray-color);
    cursor: pointer;
}

.drink-item-card {
    background-color: var(--drinks-menu-color);
    border-radius: 5px;
    background: radial-gradient(circle, #e9e8e8 0%, #ffffff 100%);
    box-shadow: 0 3px 10px #4e4e4e88;
}

.dessert-item-card {
    background-color: var(--desserts-menu-color);
    border-radius: 5px;
    background: radial-gradient(circle, #eeeeee 0%, #ffffff 100%);
    box-shadow: 0 5px 10px #38383873;
}

.item-card:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 30px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 30px #c1c1c1;
    box-shadow: inset 0px 0px 30px #c1c1c1;
}

#order-history-container {
    display: grid;
    background-color: var(--lighter-gray-color);
    padding: 20px;
    padding-right: 17px;
    grid-gap: 2em;
    grid-template-rows: 100px 1fr;
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    color: white;
}

#order-history-container-header {
    display: grid;
    grid-template-columns: 100px 1fr;
}

#order-history-container-header h2 {
    margin: 15px;
    margin-left: 0px;
}

#order-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1em);
    grid-auto-flow: row;
    grid-gap: 3em;
}

.listed-order {
    display: grid;
    position: relative;
    grid-template-columns: 3rem 1fr 1rem;
    grid-template-rows: 1fr;
    grid-gap: 0.2em;
    height: 30px;
    align-content: center;
    cursor: pointer;
}

.order-pointer {
    display: none;
    border-style: solid;
    border-width: 30px 0 30px 30px;
    border-color: transparent transparent transparent var(--darker-gray-color);
}

.listed-order p {
    padding-top: 0.7em;
    font-size: 13px;
}

.listed-order .listed-order-content {
    background-color: var(--standard-gray-color);
    padding-left: 1em;
    position: relative;
}

.ordernr-container {
    height: 100%;
    background-color: var(--standard-gray-color);
}

.ordernr-container h3{
    padding-left: 1em;
}

.listed-order-content h5 {
    position: absolute;
    right: 1em;
    margin-top: 1.3em;
    font-size: 16px;
    top: 0;
}

#order-container {
    display: grid;
    border: 1px solid var(--lighter-gray-color);
    padding: 20px;
    grid-gap: 1em;
    grid-template-rows: 100px 1fr 100px;
    grid-column: 5 / 9;
    grid-row: 1 / 7;
    color: white;
}

#order-container-header {
    display: grid;
    grid-template-columns: 205px 1fr;
    align-items: center;
    padding-top: 5px;
}

#order-container-header h2 {
    margin: 0;
    padding: 1em 0.5em 1em 0em;
    justify-self: start;
}

#order-container-header h1 {
    font-size: 60px;
    margin: 0;
    padding-bottom: 0.39em;
}

#order-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(min-content, 100px));
    grid-auto-flow: row;
    grid-gap: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
}

#completed-order-total-price h2 {
    font-size: 30px;
    margin: 0px 0px 0px 5px;
}

#completed-order-total-price h1 {
    font-size: 50px;
    margin: 0px 0px 0px 5px;
}

.chosenSize {
    color: var(--standard-gray-color);
}

.completed-order-item-card-container {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.3em;
}

.image-container {
    position: relative;
    background-color: var(--desserts-menu-color);
    height: 100%;
    box-shadow: 0 5px 10px #38383873;
    border-radius: 5px;
}

.image-container img {
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    margin-top: 1.5em;
    right: 7px;
}

.completed-order-item-card {
    display: grid;
    grid-template-columns: 7.7em 1fr;
    grid-template-rows: 4em;
    grid-row: 1px;
    background-color: var(--desserts-menu-color);
    padding: 10px;
    box-shadow: 0 5px 10px #38383873;
    border-radius: 5px;
}

.drink-grid {
    grid-template-rows: repeat(2, 3.5em);
}

.completed-order-item-card h2 {
    justify-self: center;
    font-size: 22px;
    justify-self: end;
    margin: 0;
}

.completed-order-item-card h3 {
    justify-self: start;
    margin: 0;
    font-size: 19px;
    font-weight: lighter;
    margin-right: 0.5em;
}

.completed-order-item-card li {
    list-style: none;
    font-size: 11px;
}

.completed-order-item-card ul {
    margin: 0;
    padding: 0;
    right: 1em;
    overflow-x: hidden;
    overflow-y: auto;
}

/*OPTIONS MENU*/

/*FIX APPEND*/

#total-price-container{
    grid-row: 4;
    grid-column: 3 / 6;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
    height: 5em;
}

#total-price-container h3{
    display: inline;
    font-size: 28px;
    font-weight: lighter;
}

#total-price {
    font-size: 30px;
    font-weight: bold;
    display: inline;
}

.dessertItem{
    position: relative;
    left: 380px;
    top: 30px;
    text-align: center;
    background-color: var(--drinks-menu-color);
    border-radius: 20px;
    background-image: linear-gradient(rgb(221, 220, 220), rgb(241, 241, 241));
}

.item-img-and-name {
    grid-row: 1;
    grid-column: 3 / 6;
    text-align: center;
    color: #ffffff;
}

.item-img-and-name h1 {
    margin: 0;
    font-size: 25px;
}

.item-img-and-name > img {
    width: 60px;
    height: 60px;
    margin-top: 1em;
}

.small-drink {
    grid-row: 2;
    grid-column: 3;
}
    
.medium-drink {
    grid-row: 2;
    grid-column: 4;
}
    
.large-drink {
    grid-row: 2;
    grid-column: 5;
}

.extra-options-card-container {
    display: flex;
    column-gap: 1em;
    flex-direction: row;
    grid-row: 3;
    grid-column: 3 / 5;
    background-color: var(--drinks-menu-color);
}

.extra-option-card {
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    font-size: 10px;
    height: 9em;
    width: 6em;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: #ffffff;
    box-shadow: 0 5px 10px #38383873;
}

.confirm-order-btn {
    grid-row: 5;
    grid-column: 3 / 6;
    background-color: var(--confirm-btn-color);
    font-weight: bold;
    height: 100%;
    font-size: 35px;
    outline: none;
}

.confirm-order-btn:active {
    background-color: var(--confirm-btn-active-color);
}

.drink-size{
    display: grid;
    grid-template-rows: 20% 50% 50%;
    grid-template-columns: 1fr;
    background-color: var(--drinks-menu-color);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 10em;
    height: 10em;
    cursor: pointer;
    box-shadow: 0 5px 10px #38383873;
}

.drink-size i {
    grid-row: 2;
    align-self: end;
}

.drink-size > h4 {
    grid-row: 3;
    align-self: start;
}

#back-btn{
    position: absolute;
    align-self: start;
    justify-self: start;
    background-color: var(--drinks-menu-color);
    outline: none;
}

#back-btn:active {
    color: var(--standard-gray-color);
}

.pay-button {
    background-color: var(--confirm-btn-color);
    color: #ffffff;
}

#card-pay-button i {
    font-size: 48px;
}

.order-item-card {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 3em;
    grid-template-rows: 1fr;
    grid-gap: 0.2em;
    border-radius: 5px;
    align-content: center;
    cursor: pointer;
    color: white;
    text-align: center;
}

.order-item-card .order-item-card-content {
    background-color: var(--standard-gray-color);
    padding-left: 1em;
    position: relative;
}

.order-item-card-content img {
    position: absolute;
    left: 1em;
    margin-top: 1.3em;
}

.order-item-card-content h2 {
    position: absolute;
    right: 1em;
    margin-top: 1.3em;
    font-size: 16px;
    top: 0;
}

/*
.listed-order p {
    padding-top: 0.7em;
    font-size: 13px;
}


.ordernr-container {
    height: 100%;
    background-color: var(--standard-gray-color);
}

.ordernr-container h3{
    padding-left: 1em;
}

.listed-order-content h5 {
    position: absolute;
    right: 1em;
    margin-top: 1.3em;
    font-size: 16px;
    top: 0;
}
*/