:root {
    --darker-gray-color: rgb(102, 102, 102);
    --lighter-gray-color: rgb(179, 179, 179);
    --confirm-btn-color: rgb(36, 224, 133);
    --confirm-btn-active-color: rgb(61, 255, 161);
    --drinks-menu-color: rgb(171, 162, 138);
    --desserts-menu-color: rgb(224, 177, 216);
}

html, body {
    height: 98%;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: sans-serif;
}

button {
    border: 0px;
    cursor: pointer;
    color: white;
}

#main-wrapper {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#user-account-header {
    display: grid;
    border-bottom: 1px solid var(--darker-gray-color);
    grid-column: 1 / 10;
    grid-row: 1;
}

#active-user-account-display {
    display: grid;
    margin-bottom: 5px;
    grid-template-columns: 50px 1fr;
    align-items: end
}

#active-user-account-display img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#active-user-account-display h2 {
    color: var(--darker-gray-color);
    margin-bottom: 5px;
    margin-left: 10px;
    align-self: end;
}

#main-navigation-section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 1 / 3;
    grid-row: 2 / 11;
}

.menu-button {
    font-size: 25px;
}

#drinks-menu-button {
    background-color: var(--drinks-menu-color);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#drinks-menu-button h4 {
    margin-top: 10px;
}

#desserts-menu-button {
    background-color: var(--desserts-menu-color);
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

#desserts-menu-button h4 {
    margin-top: 20px;
}

.orders-button {
    background-color: var(--lighter-gray-color);
}

#mobile-orders-button h4 {
    margin-top: 5px;
}

#order-history-button h4 {
    margin-top: 15px;
}

#menu-section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 3 / 8;
    grid-row: 2 / 11;
}

#popular-items-menu-container {
    display: grid;
    border: 1px solid var(--lighter-gray-color);
    overflow: scroll;
    grid-template-rows: 40px 1fr;
    grid-column: 1 / 7;
    grid-row: 1 / 3;
}

#popular-items-menu-header {
    display: grid;
    padding: 12px;
    padding-left: 25px;
    grid-template-columns: 40px 1fr;
    font-size: 20px;
    align-items: center;
}

#popular-items-menu-header h3 {
    font-weight: lighter;
    margin: 0px;
    color: white;
}

#popular-items-menu {
    display: grid;
    justify-items: center;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-row: 2 / 3;
}

#main-menu-container {
    display: grid;
    border: 1px solid var(--lighter-gray-color);
    overflow: scroll;
    grid-column: 1 / 7;
    grid-row: 3 / 6;
}

#main-menu {
    display: grid;
    overflow: scroll;
    justify-items: center;
    padding: 20px;
    row-gap: 14px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#payment-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column: 8 / 10;
    grid-row: 2 / 11;
}

#order-section {
    display: grid;
    border: 1px solid var(--lighter-gray-color);
    overflow: scroll;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-row: 1 / 5;
}

.item-card {
    position: relative;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    height: 10em;
    width: 7em;
    color: white;
}

.drink-item-card {
    background-color: var(--drinks-menu-color);
}

.dessert-item-card {
    background-color: var(--desserts-menu-color);
}

#order-history-container {
    display: grid;
    background-color: var(--lighter-gray-color);
    padding: 20px;
    grid-template-rows: 100px 1fr;
    grid-column: 1 / 4;
    grid-row: 1 / 7;
    color: white;
}

#order-history-container-header {
    display: grid;
    grid-template-columns: 100px 1fr;
}

#order-history-container-header h2{
    margin: 15px;
    margin-left: 0px;
}

#order-container {
    border: 1px solid var(--lighter-gray-color);
    grid-column: 4 / 8;
    grid-row: 1 / 7;
    color: white;
}

/*OPTIONS MENU*/

.itemImgAndName{
    grid-row: 2;
    /*grid-column: 2;*/
    text-align: center;
  
    border-radius: 20px;
    background-image: linear-gradient(rgb(221, 220, 220), rgb(241, 241, 241));
}

#drinkImg{
    width: 100px;
    height: 100px;
}

.confirm-order-btn {
    grid-row: 5;
    grid-column: 2;

    width: 50%;
} 

.drinkSize{

    grid-row: 5;
    grid-column: 1;
    /* display: flex;
    flex-direction: row;
    margin:10px;
    position: relative;
    top:200px; */
    
}



.smallDrink, .medDrink, .largeDrink{
    text-align: center;
    border-radius: 20px;
    background-image: linear-gradient(rgb(221, 220, 220), rgb(241, 241, 241));
    /* width: 100px;
    height: 100px; */

}





 .smallDrink > img{
    /* width: 70px;
    height: 70px;
    position: absolute;
    left:70px;
    top:50px; */
}

.smallDrink > h4{
    /* position: absolute;
    top:150px;
    left:80px; */
}

.medDrink >img {
    /* width: 100px;
    height: 100px;
    position: absolute;
    top:20px;
    left:60px; */
}
.medDrink >h4{
    /* position: absolute;
    top:150px;
    left:80px; */
}

.largeDrink >img {
    /* height: 50%;
    left: 1em; */

    
}

.largeDrink > h4{
    /* position: absolute;
    top:150px;
    left:80px; */
    
}


#back-btn{
    grid-row: 1;
    grid-column: 1;
    width:50px;
    height: 50px;
    background-color: red;
}

.drinkSize{
    grid-row: 3;
    grid-column: 4;
    
}

.smallDrink, .medDrink, .largeDrink{
    /* margin: 20px;
    text-align: center;
    border-radius: 20px;
    background-image: linear-gradient(rgb(221, 220, 220), rgb(241, 241, 241));
    width: 200px;
    height: 200px;
    position: relative;
    left:-50px; */
}



.extra-option-card {
    margin:10px;
}



/*FIX APPEND*/
#totalPrice{
    background-color: var(--drinks-menu-color);
    background-image: linear-gradient(rgb(221, 220, 220), rgb(241, 241, 241));

    grid-row: 4;
    grid-column: 3 / 2;

    width: 30%;
}

.dessertItem{
    position: relative;
    left:380px;
    top:30px;
    text-align: center;
    background-color: var(--drinks-menu-color);
    border-radius: 20px;
    background-image: linear-gradient(rgb(221, 220, 220), rgb(241, 241, 241));
}

.extra-options-card-container {
    display: flex;
    flex-direction: row;
    position: relative;
    grid-row: 3;
    grid-column: 2;
    height: 130px;
    background-color: var(--drinks-menu-color);
    border-radius: 20px;
    background-image: linear-gradient(rgb(221, 220, 220), rgb(241, 241, 241));
    
}

