* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    :root {
        --darker-gray-color: rgb(102, 102, 102);
        --lighter-gray-color: rgb(179, 179, 179);
        --confirm-btn-color: rgb(36, 224, 133);
        --confirm-btn-active-color: rgb(61, 255, 161);
    }

    @media only screen and (max-width: 500px){
        #user-account-header, #mobile-orders-button, #order-history-button, #menu-section {
              display: none;
        }
        }


    body {
        box-sizing: border-box;
        background-color: white;
    }


    #drinks-menu-button {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-color: rgb(230, 230, 230);
        height: 200px;
        width: 280px;
        padding: 20px;
        margin: 50px;
        margin-top: 100px;
        font-size: 30px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }

    #button-photo-dessert {
        align-items: center;
    }



    #desserts-menu-button {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        background-color: rgb(230, 230, 230);
        height: 200px;
        width: 280px;
        padding: 20px;
        margin: 50px;
        font-size: 30px;
        margin-top: 100px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
}